
.titulo h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
}
.posicao{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.materia{
    display: flex;
    justify-content: space-around;
}
.inputs{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input button{
    background-color: rgb(187, 9, 18);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.input button:hover{
    background-color: rgb(255, 255, 252);
    color: rgb(187, 9, 18);
    border: rgb(187, 9, 18) solid 2px;
}
.input input{
    padding: 10px;
    border-radius: 5px;
    border: rgb(187, 9, 18) solid 2px;
}
.topicos button{
    background-color: rgba(255, 255, 252);
    border: none;
    padding: 10px;
    cursor: pointer;
}
.topicos .ativo .texto-apagar{
  display: none;
}
.topicos .ativo:hover{
   background-color: rgb(187, 9, 18);;
    color: white;
    border-radius: 5px;
    border: rgb(172, 6, 14) solid 3px;
}
.topicos .ativo:hover .texto-normal{
  display: none;
}
.topicos .ativo:hover .texto-apagar{
  display: inline;
}
.desativado:hover{
  cursor: not-allowed;
}
.login {
    height: 844px
    
}
.login .container {
    height: 100%;
    justify-content: center;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 238, 238);
    border-radius: 30px;
    border: solid 2px rgb(206, 206, 206);
    padding: 15px;
}
.card-login {
    width: 500px;
    height: 350px;
}
.card-cadastro {
    width: 500px;
    height: 600px;
}
.login .campo {
    width: 400px;
    color: gray;
}
 .login h2 {
    margin-bottom: 15px;
}
.login .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login span {
    color: rgb(0, 0, 0);
}
.login input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: solid 2px #4B3126;
}
.invalid-feedback{
margin-bottom: 10px;
}
.invalid-feedback img {
    width: 12px;
    height: 12px;
}
.invalid-feedback .denied {
    color: rgb(189, 4, 4);
}
.invalid-feedback .accept {
    color: rgb(2, 110, 2);
}
.credential-submit {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(187, 9, 18);
    border: rgb(187, 9, 18) solid 2px;
    color: white;
    font-weight: bold;
}
.credential-submit:hover {
    background-color:  rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}

.login-redirect a {
    color: rgb(0, 0, 0);
}   
