<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Dados Recebidos</title>
</head>
<body>
  <h1>Dados enviados:</h1>
  <p>Nome: <%= nome %></p>
  <div>Email: <%- email %></div>
  <a href="/">Voltar</a>
</body>
</html>
